<div class="customer">
  <h1>{{model.ContactName}}</h1>
  
  <table>
    <tr>
      <th>Customer ID:</th>
      <td>{{model.id}}</td>
    </tr>
    <tr>
      <th>Address:</th>
      <td>{{model.Address}}</td>
    </tr>
    <tr>
      <th>City:</th>
      <td>{{model.City}}</td>
    </tr>
    <tr>
      <th>Company Name:</th>
      <td>{{model.CompanyName}}</td>
    </tr>
    <tr>
      <th>Contact Title:</th>
      <td>{{model.ContactTitle}}</td>
    </tr>
    <tr>
      <th>Country:</th>
      <td>{{model.Country}}</td>
    </tr>
    <tr>
      <th>Fax:</th>
      <td>{{model.Fax}}</td>
    </tr>
    <tr>
      <th>Phone:</th>
      <td>{{model.Phone}}</td>
    </tr>
    <tr>
      <th>Postal Code:</th>
      <td>{{model.PostalCode}}</td>
    </tr>
    <tr>
      <th>Region:</th>
      <td>{{model.Region}}</td>
    </tr>
  </table>
  
  {{#link-to 'customers'}}Hide customer details{{/link-to}}

</div>
